$bg-color: #31363F;
$bg-list-item: #76ABAE;
$font: #EEEEEE;
$error-font: #ffffff;
$button: #222831;
$found: #9AC8CD;


@media (min-width: 500px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow-x: clip;
        background-color: $bg-color;
        color: $font;
    }
    
    code {
        white-space: pre;
    }
    
    h1 {
        margin-top: 0px;
        padding-top: 20px;
    }
    
    textarea {
        height: 65vh;
        width: 80%;
        border-radius: 6px;
        margin-top: 10px;
    }
    
    .title-input {
        margin-top: 10px;
        border-radius: 2px;
    }

    .found {
        li {
            a {
                color: $found;
                font-size: 20px;
            }
            
        }
    }

    .button {
        display: flex;
        justify-content: flex-end;
    }

    .submit-button {
        display: block;
        border-radius: 4px;
        background-color: $button;
        border-color: $font;
        border-style: solid;
        color: $font;
        width: 100px;
        height: 40px;
        margin-right: 20%;
    }
    .container {
        margin-right: 20px;
    }
    
    .main {
        padding: 10px;
    }
    
    .search {
        width: 100%;
        font-size: 15px;
        line-height: 15px;
    }

    .navbar-img
    {
        height: 50px;
        margin: 0;
    }

    .navbar-brand
    {
        padding: 0;
    }

    .entries {
        margin-top: 20px;
        .list-group-item {
            background-color: $bg-list-item;
            a {
                color: $font;
                font-size: 20px;
            }
        }
    }

    .container-error {
        .error-title {
            color: $error-font;
            h2 {
                color: $font;
            }
        }
        .error-content {
            display: flex;
            gap: 32px;
            margin-top: 15px;
            img {
                width: 150px;
            }
            .error-text
            {
                align-self: center;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 499px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: $bg-color;
        color: $font;
        font-size: 20px;
    }

    .entries {
        margin-top: 20px;
        width: 80vw;
        .list-group-item {
            background-color: $bg-list-item;
            a {
                color: $font;
                font-size: 20px;
            }
        }
    }

    .button {
        display: flex;
        justify-content: flex-end;
    }

    .submit-button {
        display: block;
        border-radius: 4px;
        background-color: $button;
        border-color: $font;
        border-style: solid;
        color: $font;
        width: 100px;
        height: 40px;
        margin-right: 20%;
    }
    
    .title-input {
        margin-top: 10px;
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .found {
        li {
            a {
                color: $found;
                font-size: 20px;
            }
            
        }
    }
    
    .navbar-img {
        display: none;
    }

    .row
    {
        margin-right: 0;
    }
    
    code {
        white-space: pre;
    }
    
    h1 {
        margin-top: 0px;
        padding-top: 20px;
    }
    
    textarea {
        height: 90vh;
        width: 80%;
        border-radius: 6px;
        margin-top: 10px;
    }
    
    img
    {
        width: 25%;
        height: auto;
    }
    
    .container
    {
        margin-right: 20px;
    }

    
    .search {
        width: 100%;
        font-size: 15px;
        line-height: 15px;
    }

    
    .container-error {
        .error-title {
            color: $error-font;
            h2 {
                color: $font;
            }
        }
        .error-content {
            margin-top: 15px;
            display: flex;
            gap: 32px;
            img {
                width: 130px;
            }
            .error-text
            {
                align-self: center;
                font-size: 20px;
            }
        }
    }
}



