{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container container-error">
    <div class="error-title">
        <h1>{{ title|safe }}</h1>
        <hr>
        <h2>{{ subtitle|safe }}</h2>
    </div>
    <div class="error-content">
        <img src="{% static 'encyclopedia/error.png' %}">
        <div class="error-text">
            <p>{{ content|safe }}</h1>
            <p>{{ subcontent|safe }}</p>
        </div>
    </div>
</div>
{% endblock %}